.menu{
    position: fixed;
    top: 0;
    left: 0;
    border: solid 5px black;
    width: 200px;
    height:100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    z-index: 10;
}

.menu p {
    margin-bottom: 30px; /* 「説明」の下に少し広めの余白 */
}

.menu a {
    display: block; /* リンクをブロック要素にして、marginを有効に */
    margin-bottom: 80px; /* 各リンクの下に余白を設定 */
    text-decoration: none; /* 下線を消す */
    color: #333; /* 文字色を少し柔らかく */
}

.menu #btn{
    width: 100px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0%;

    position: absolute;
    bottom: 20px; /* メニューの下部から20pxの位置 */
    transform: translateX(-50%); /* 要素の幅の半分だけ左に戻して中央揃え */
}



.explain{
    margin-left: 220px; /* メニューの幅(200px) + 余白(20px) */
    padding: 20px;
    width: calc(100% - 240px); /* 画面幅からメニュー幅と余白を引く */
    height: 100vh;
}